*{
    box-sizing: border-box;
}
body{
    background-color:white;
}
.post{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    flex-direction: column; 
    overflow: hidden;
    margin:100px;
}

.postal {
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    background-color: blueviolet;
  }
.post .post-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
 }
 .post .post-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
 }
 .post .post-img img{
    height: auto;
    max-width:100%;
    object-fit: cover;
 }

 .post{
    display: flex;
    background-color: white;
    width: 450px;
    flex-direction: column; 
    overflow: hidden;
    margin:100px;
}
.post .post-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
 }
 .post .post-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
 }
 .post .post-img img{
    height: auto;
    max-width:100%;
    object-fit: cover;
 }

 .post{
    display: flex;
    background-color: white;
    width: 450px;
    flex-direction: column; 
    overflow: hidden;
    margin:100px;
}
.post .post-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
 }
 .post .post-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
 }
 .post .post-img img{
    height: auto;
    max-width:100%;
    object-fit: cover;
 }